<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add User</title>
</head>
<body>
    <h3>Add User</h3>

    <form action="addUser" method="post">
        Name: <input type="text" name="name" />
        <span th:errors="${userModel.name}" style="color:red"></span><br />
        Age: <input type="number" name="age"/><br />
        Id: <input type="text" name="id" /><br />
        <span th:errors="${userModel.id}" style="color:red"></span><br />
        <input type="submit" value="Add" >
    </form>
</body>
</html>